.main-block {
    height: 100vh;
    background: linear-gradient(79.62deg, var(--color-curious-blue) 29.11%, var(--color-mariner) 88.06%);

    @include resolution(tablet) {
        height: 100%;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        @include resolution(tablet) {
            justify-content: center;
            flex-direction: column;
        }
    }

    &__info {
        margin-top: 128px;

        @include resolution(big-mobile) {
            margin-top: 100px;
        }
    }

    &__title {
        width: 660px;
        @include font(opensans-extrabold);
        font-size: 48px;
        line-height: 60px;
        color: var(--color-white);

        &-sup {
            @include font(sourcesans-regular);
        }

        @include resolution(desktop) {
            font-size: 42px;
        }

        @include resolution(small-desktop) {
            width: 500px;
            font-size: 36px;
            line-height: 50px;
        }

        @include resolution(big-tablet) {
            width: 386px;
            font-size: 28px;
        }

        @include resolution(tablet) {
            width: 100%;
            text-align: center;
        }

        @include resolution(big-mobile) {
            font-size: 24px;
            line-height: 40px;
        }

        @include resolution(mobile) {
            font-size: 20px;
            line-height: 32px;
        }
    }

    &__subtitle {
        margin-top: 24px;
        width: 480px;
        @include font(opensans-bold);
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.4px;
        color: var(--color-white);

        &-sup {
            top: 0;
        }

        @include resolution(small-desktop) {
            margin-top: 50px;
            width: 470px;
        }

        @include resolution(big-tablet) {
            width: 302px;
            font-size: 20px;
        }

        @include resolution(tablet) {
            width: 100%;
            text-align: center;
        }

        @include resolution(big-mobile) {
            font-size: 16px;
            line-height: 24px;
        }

        @include resolution(mobile) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__text {
        margin-top: 15px;
        @include font(opensans-regular);
        font-size: 24px;
        line-height: 32px;
        color: var(--color-white);

        &-sup {
            @include font(sourcesans-bold);
        }

        @include resolution(small-desktop) {
            width: 425px;
        }

        @include resolution(big-tablet) {
            width: 302px;
            font-size: 20px;
        }

        @include resolution(tablet) {
            width: 100%;
            text-align: center;
        }

        @include resolution(big-mobile) {
            font-size: 16px;
            line-height: 24px;
        }

        @include resolution(mobile) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__button {
        margin-top: 49px;
        margin-left: 3px;
        width: 290px;
        height: 80px;
        background: linear-gradient(180deg, var(--color-sandy-brown) 0%, var(--color-tango) 100%);
        box-shadow: 0px 4px 0px var(--color-flame-pea), inset 0px 4px 20px var(--color-macaroni-cheese);
        border-radius: 40px;
        @include font(opensans-bold);
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        color: var(--color-white);
        text-shadow: 0px 1px 1px var(--color-mine-shaft-24);

        @include resolution(tablet) {
            margin-left: calc(50% - 145px);
        }

        @include resolution(mobile) {
            width: 260px;
            margin-left: calc(50% - 130px);
        }
    }

    &__image {
        margin-top: 78px;
        margin-right: 103px;

        @include resolution(desktop) {
            width: 300px;
            margin-right: 0;
        }

        @include resolution(small-desktop) {
            width: 250px;
            height: 408px;
            margin-top: 155px;
        }

        @include resolution(big-tablet) {
            width: 200px;
            height: 326px;
            margin-top: 200px;
        }

        @include resolution(tablet) {
            margin-top: 150px;
            margin-left: calc(50% - 100px);
            margin-bottom: 50px;
        }
    }
}